<?xml version='1.0' encoding='utf-8'?>
<widget id="io.chordlen" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Chordlen</name>
    <description>App for playing and arranging chords</description>
    <author email="antonioocarlos@proton.me" href="">
        Antonio Carlos
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>