@font-face {
  src: url("../fonts/josefin.ttf");
  font-family: "Josefin";
}

:root {
  --bg: #fff;
  --fg: #000;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: "Josefin", sans-serif;
    
    transition: color 0.2s, background 0.2s;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    
    background: var(--bg);
    color: var(--fg);
    
    width: 100%;
    height: 100%;
    
    overflow-y: hidden;
}

.disabled {
  display: none;
}

svg {
  fill: var(--fg);
  stroke: var(--fg);
}

/* --- */

header {
  width: 100%;
  height: 60px;
  
  border-bottom: 1px solid var(--fg);
  
  text-align: center;
  
  display: flex;
  
  align-items: center;
  justify-content: center;
}

button.mode {
  background: transparent;
  
  border: none;
  outline: none;
  
  padding: 5px;
  border-radius: 50%;
  
  position: fixed;
  right: 10px;
}

header h1 {
  font-size: 14pt;
  text-transform: uppercase;
  letter-spacing: 12px;
}

footer {
  width: 100%;
  height: 80px;
  
  position: absolute;
  bottom: 0;
  
  border-top: 1px solid var(--fg);
  
  text-align: center;
  
  display: flex;
  
  align-items: center;
  justify-content: center;
  
  background: var(--bg);
}

.opt {
  height: 80px;
  
  flex: 1;
  
  display: flex;
  
  align-items: center;
  justify-content: center;
  
  flex-direction: column;
}

.footer-img {
  width: 29px;
}

footer span {
  margin-top: 5px;
}

.selected span {
  font-weight: bold;
  border-bottom: 1px solid var(--fg);
  
  padding-bottom: 5px;
}

.selected span,
footer img {
  position: relative;
  top: 3px;
}

main,
main .tab-cnt {
  width: 100%;
  height: 100vh;
}

.chord-play {
  width: 95%;
  border: 1px solid var(--fg);
  
  padding: 10px;
  
  border-radius: 20px;
  
  margin-left: 50%;
  transform: translateX(-50%);
  
  margin-top: 10px;
}

.chord-play p {
  float: right;
  
  position: relative;
  bottom: 13px;
  right: 10px;
}

.chord-play h1 {
  position: relative;
  top: 10px;
  left: 10px;
}